$base-color: #E0E1DD;
$primary-color: #778DA9;
$secondary-color: #415A77;
$thirth-color: #1B263B;
$fourth-color: #0D1B2A;

$succes-base-color: #94D2BD;
$succes-primary-color: #0A9396;
$succes-secondary-color: #005F73;
$succes-thirth-color: #001219;

$warning-primary-color: #EE9B00;

$danger-primary-color: #AE2012;
$danger-secondary-color: #9B2226;

$almost-primary-color: #CA6702;
$almost-secondary-color: #BB3E03;


header {
    height: 100px;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    padding-inline: 20px;

    h1 {
        font-size: 35px;
        color: gray;
    }

    .group-button {
        margin-left: auto;
        box-shadow: 0 0 5px 2px gray;
        border-radius: 7px;
        padding: 7px;

        button {
            height: 45px;
            width: fit-content;
            color: $base-color;
            padding: 0;

            svg {
                font-size: 25px;
                width: 45px;
            }

            span {
                font-size: 0;
                transition: .2s ease-in-out;

            }

            &:hover {
                span {
                    font-size: 15px;
                    margin-inline: 10px 10px;
                    transition: .2s ease-in-out;
                }
            }
        }
    }
}

.menu-info,
.menu-managment {
    box-shadow: 0 0 5px 2px gray;
    height: 90%;
    width: 1280px;
    border-radius: 10px;

}

.menu-managment {
    overflow: auto;

    header {
        .group-button {
            button {
                background-color: $succes-primary-color;

                &:hover {
                    background-color: $succes-primary-color;
                }
            }

            button+button {
                background-color: $secondary-color;

                &:hover {
                    background-color: $secondary-color;
                }
            }
        }
    }

    main {

        h2 {
            font-size: 25px;
            width: 100%;
            text-align: center;
            margin-top: 10px;
            color: gray;
        }

        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .menu-item {
        border-radius: 7px;
        box-shadow: 0 0 5px 2px gray;

        .catalog {
            height: 70px;
            align-items: center;
            padding-inline: 20px;
            color: gray;
            font-weight: 500;
            font-size: 25px;

            .button-collect {
                margin-left: auto;

                button {
                    background-color: $danger-primary-color;
                    color: white;
                    transition: .2s;
                    height: 45px;
                    width: 45px;
                    font-size: 25px;

                    &:hover {
                        background-color: $danger-secondary-color;
                        transition: .2s;
                    }
                }

                button+button {
                    background-color: inherit;
                    color: gray;

                    &:hover {
                        background-color: inherit;
                    }
                }
            }
        }

        .products {
            li {
                border-top: 1px solid gray;
                display: flex;
                align-items: center;
                padding-inline: 20px;
                color: gray;
                font-weight: 500;
                height: 0;
                visibility: hidden;
                opacity: 0;
                transition: .2s ease-in-out;

                .product-data {
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .available {
                        color: white;
                        padding: 2px 10px;

                        &.Yes {
                            background-color: $succes-primary-color;
                        }

                        &.No {
                            background-color: $danger-primary-color;
                        }
                    }
                }
            }
        }
    }

    .menu-item.active {
        .button-collect {
            button+button {
                transform: rotate(180deg);
            }
        }

        .products {
            li {
                height: 50px;
                visibility: visible;
                opacity: 1;
                transition: .2s ease-in-out;
            }
        }
    }
}

.menu-info {
    header {
        position: relative;
        padding-left: 50px;

        .btn-back {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 20px;
            border-radius: 0;
            border-top-left-radius: 10px;
            font-size: 20px;
            transition: .2s ease-in-out;
            color: gray;

            &:hover {
                background-color: lightblue;
                transition: .2s ease-in-out;
            }
        }

        .group-button {
            button {
                background-color: $primary-color;

                &:hover {
                    background-color: $primary-color;
                }
            }
        }
    }

    main {
        padding: 20px;


        .catalog {
            border: 1px solid gray;
            padding: 10px;

            label {
                color: gray;
            }

            input {
                border: 1px solid gray;
            }
        }

        .products {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .add-product {
                border-bottom: 1px solid gray;
                padding-block: 10px;

                button {
                    background-color: $succes-primary-color;
                    color: $base-color;
                    height: 35px;

                    span {
                        margin-right: 10px;
                    }

                    &:hover {
                        background-color: $succes-secondary-color;
                    }
                }
            }

            .product-list {
                border: 1px solid gray;
                height: 550px;
                overflow-y: auto;

                .product-item {
                    border-bottom: 1px solid gray;
                    position: relative;
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    grid-template-rows: repeat(2, 1fr);
                    padding: 15px;
                    gap: 15px;

                    .btn-close {
                        top: 0;
                        right: 0;
                        height: 25px;
                        width: 25px;
                        background-color: inherit;
                        color: gray;
                        position: absolute;
                        z-index: 2;
                    }

                    input {
                        border: 1px solid gray;

                        &.article {
                            grid-column-start: span 2;
                        }

                        &.price {
                            grid-row-start: 2;
                            grid-column-start: span 6;
                        }
                    }

                    .custom {
                        .chakra-checkbox__control {
                            border: 1px solid gray;
                        }
                    }

                    button {
                        background-color: $succes-primary-color;
                        color: $base-color;
                        display: flex;

                        svg {
                            font-size: 20px;
                        }

                        span {
                            margin-right: auto;
                        }
                    }
                }
            }
        }
    }
}

.menu {
    width: 1280px;
    height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px gray;
    overflow: auto;

    header {
        height: 400px;
        width: 100%;
        display: flex;
        padding: 10px;

        img {
            height: 380px;
            width: 1280px;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;

        h1 {
            width: 100%;
            text-align: center;
            font-size: 25px;
            font-weight: 500;
            color: gray;
        }

        .menu-item {
            .catalog {
                height: 70px;
                display: flex;
                align-items: center;
                border-bottom: 2px solid $secondary-color;

                h2 {
                    font-size: 30px;
                    font-weight: 600;
                    color: gray;
                }
            }

            .products {
                li {
                    height: 60px;
                    padding-inline: 20px;
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid $succes-thirth-color;
                    font-weight: 500;
                    color: gray;
                    transition: .2s ease-in-out;

                    .name {
                        margin-right: auto;
                    }

                    .product-data {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        .available {
                            color: white;
                            padding: 2px 10px;

                            &.Yes {
                                background-color: $succes-primary-color;
                            }

                            &.No {
                                background-color: $danger-primary-color;
                            }
                        }

                        .price {
                            width: 50px;
                            text-align: end;
                        }
                    }

                    &:hover {
                        background-color: orangered;
                        transition: .2s ease-in-out;
                        color: white;
                    }
                }
            }
        }
    }
}